// Primary
$primary-red:hsl(0, 78%, 62%) ;
$primary-cyan:hsl(180, 62%, 55%) ;
$primary-orange:hsl(34, 97%, 64%);
$primary-blue:hsl(212, 86%, 64%) ;

// Neutral
$neutral-dark-blue: hsl(234, 12%, 34%);
$neutral-grayish-blue: hsl(229, 6%, 66%);
$neutral-light-gray: hsl(0, 0%, 98%);


footer{
  box-sizing: border-box;
  @include position(absolute, auto, auto, 1rem, 1rem);
  @include bg-color($primary-cyan);
  padding: 1rem;
  border-radius: 15px;
  clip-path: circle(7.5% at 6.5% 45%);
  transition: all .3s;
  &:hover{
    clip-path: circle(100% );
    background-color:darken($color:  $neutral-dark-blue, $amount: 10);    
  }
  @media (max-width:$Tablet) {
    background-color:darken($color:  $neutral-dark-blue, $amount: 10);
    @include position(relative);
    // margin-top: 2rem;
    border-radius: 0;
    clip-path: circle(100% );
  }
  a{color: $primary-red;}
}